<div>
  <h2 class="text-muted">Products -details </h2>
  

    <div class="card " >
      <div class="row no-gutters">
        <div class="col-md-6 ">
          <carousel>
            <slide>
              <img src="assets/images/pizaa/pizaa.png"  alt="first slide" style="display:block; width:100%;">
            </slide>
            <slide>
              <img src="assets/images/pizaa/pizaa.png"  alt="second slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="assets/images/pizaa/pizaa.png" alt="third slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
        </div>
        <div class="col-md-6">
          <div class="card-body text-white"  style="background-color: grey;height: 100%;">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>





  

  
</div>