<div [@routerTransition]>
    <h2 class="text-muted">Users </h2>
    <form>
        <div class="form-row align-items-center">

            <div class="col-auto">
                <div class="form-group input-group">
                    <input class="form-control" type="text" />
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                    </div>
                   
                </div>
            </div>

        </div>
    </form>


    <!-- /Table for Products -->
    <div class="row">
        <div class="col col-xl-12">
            <div class="card mb-3">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Name</th>
                            <th>gender</th>
                            <th>email</th>
                            <th>Adress</th>
                            <th>Phone Number</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>23154 </td>
                            <td>Bed Room</td>
                            <td>$321.33</td>
                            <td>$321.33</td>
                            <td>$321.33</td>
                            <td>$321.33</td>
                            <td> <button class="btn btn-sm btn-primary mr-2 " type="button">Accept</button>
                                <button class="btn btn-sm btn-danger" type="button">Reject</button>
</td>




                        </tr>
                                             
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
