<div [@routerTransition]>
    <h2 class="text-muted">Category </h2>
    <form>
        <div class="form-row align-items-center">

            <div class="col-auto">
                <div class="form-group input-group">
                    <input class="form-control" type="text" />
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-danger" (click)="addNewCategory()">+Add New Category</button>
                    </div>
                </div>
            </div>

        </div>
    </form>


    <!-- /Table for category -->
    <div class="row">
        <div class="col col-xl-12">
            <div class="card mb-3">
                <table class="table text-center table-hover table-striped">
                    <thead>
                        <tr>

                            <th>Name</th>
                            <th>Name(Arabic)</th>
                            <th>Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categoryList">
                            <td>{{category.categoryName}}</td>
                            <td>{{ category.categoryNameAr  }}</td>
                            <td class="">
                                <button class="btn btn-sm btn-danger mr-2 "(click)="deleteCategory()">delete</button>
                                <button class="btn btn-sm  btn-primary mr-2" (click)="editCategory()">edit</button>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>