<form id="add-form" [formGroup]="addNewCategoryForm" (ngSubmit)="logValue() ">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add New Category</h4>

    <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="form-group">
      <label class="col-sm-4 control-label">Ar-Name</label>
      <div class="col-sm-10">
        <input type="text" placeholder="ar-name" class="form-control">

      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" placeholder="name" class="form-control">
      </div>
    </div>
  </div>
  <div class="field-body">
    <div *ngIf="show" class="form-group">
      <section class="container border mb-4 p-3" formArrayName="options"  
        *ngFor="let option of options.controls; let i = index;">

        <div [formGroupName]="i">
          <div class="row">
            <div class="col-6">
              <h4>option {{i + 1}}</h4>
            </div>
            <div class="col-6 text-right">
              <button type="button" class="btn btn-danger btn-sm" (click)="removeOption(i)">Remove</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" formControlName="name" placeholder="Name" />
              <label>Ar-Name</label>
              <input type="text" class="form-control" formControlName="arName" placeholder="Ar-Name" />
              <label>Type</label>
              <select class="form-control" formControlName="type" placeholder="Type">
                <option value="india">text</option>
                <option value="usa">number</option>
              </select>
            </div>
          </div>
        </div>


      </section>

    </div>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-success btn-block" (click)="addNewField()"> +Add New Field </button>

    <button type="submit" class="btn btn-primary btn-block">Save</button>
  </div>




</form>