<div [@routerTransition]>
    <h2 class="text-muted">Products </h2>
    <form>
        <div class="form-row align-items-center">

            <div class="col-auto">
                <div class="form-group input-group">
                    <input class="form-control" type="text" />
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                    </div>


                </div>
            </div>

        </div>
    </form>


    <!-- /Table for Products -->
    <div class="row">
        <div class="col col-xl-12">
            <div class="card mb-3">
                <table class="table table-hover text-center table-striped">
                    <thead>
                        <tr>
                            <th> #Id</th>
                            <th> Name</th>
                            <th>Product Descriptions</th>
                            <th>Merchant Name</th>
                            <th>Merchant Phone</th>
                            <th>Product Type</th>
                            <th>Product Img</th>
                            <th>Product Details</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of productList">
                            <th scope="row">{{ product.productId }}</th>
                            <td>{{ product.productName }}</td>
                            <td>{{ product.productDescription }}</td>
                            <td>{{ product.merchantName }}</td>
                            <td>{{ product.merchantPhone}}</td>
                            <td>{{ product.productType}}</td>
                            <td>
                                <img [src]="product.productImg" width="80px">
                            </td>
                            <td><a [routerLinkActive]="['router-link-active']"  routerLink="/products-details"> Click Here</a></td>




                            
            
                           
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>